<!DOCTYPE html>
<html>
  <head>
    <title>Bookings</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./bookings.js"></script>
    <script>
      ReactDOM.render(
        React.createElement(Bookings),
        document.getElementById("root")
      );
    </script>
  </body>
</html>
